node_modules/
.venv/
.env
.env.*
!.env.example
__pycache__/
*.pyc

server/data/youtubeTokens.json

generated/images/*
generated/audio/*
generated/videos/*
generated/thumbnails/*
generated/music/*

!generated/music/.gitkeep
!generated/images/.gitkeep
!generated/audio/.gitkeep
!generated/videos/.gitkeep
!generated/thumbnails/.gitkeep